{% extends "base.html" %}

{% block content %}
<h1>{{ equipment.name }}</h1>

<p><strong>Категория:</strong> {{ equipment.category.name }}</p>
<p><strong>Серийник:</strong> {{ equipment.serial_number|default:"—" }}</p>
<p><strong>Всего:</strong> {{ equipment.quantity_total }}</p>
<p><strong>Локация:</strong> {{ equipment.location|default:"—" }}</p>
<p><strong>Статус:</strong> {{ equipment.get_status_display }}</p>

{% if equipment.notes %}
<p><strong>Примечания:</strong><br>{{ equipment.notes }}</p>
{% endif %}

<p style="margin-top:16px;">
    <a class="btn" href="{% url 'equipment_list' %}">← Назад</a>
</p>
{% endblock %}
