{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <link rel="icon"
      type="image/svg+xml"
      href="{% static 'images/VidiumLogo.svg' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>VIDIUM</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
</head>
<body>
  <header class="topbar">
    <div class="container topbar-inner">

<a href="{% url 'calendar' %}" class="nav-logo">
    <img src="{% static 'images/VidiumLogo.svg' %}"
         alt="Vidium"
         class="logo-img">
</a>

      {% if user.is_authenticated %}
        <nav class="nav">
          <a class="nav-link" href="{% url 'calendar' %}">📅 Календарь</a>
          <a class="nav-link" href="{% url 'event_list' %}">🗓 Мероприятия</a>

          <a class="nav-link" href="{% url 'equipment_list_categories' %}">🧰 Оборудование</a>

          {% if can_manage_staff %}
            <a class="nav-link" href="{% url 'personnel' %}">👥 Персонал</a>
            <a class="nav-link" href="{% url 'audit_list' %}">📒 Журнал</a>
          {% endif %}
          <a class="nav-link" href="{% url 'cabinet:dashboard' %}">⚙️ Кабинет</a>
          <a class="nav-link" href="{% url 'login' %}">🚪 Выход</a>
          <form method="post" action="{% url 'logout' %}" style="display:inline;">
  {% csrf_token %}
<!--  <button type="submit" class="nav-link" style="background:none;border:none;padding:0;cursor:pointer;">
    🚪 Выйти
  </button> -->
</form>
          {% if user.is_superuser %}
            <a class="nav-link" href="/admin/">⚙️ Админка</a>
          {% endif %}
        </nav>
      {% endif %}
    </div>
  </header>

  <main class="container" style="padding-top: 18px;">
    {% if messages %}
      <div style="margin-bottom:14px;">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    {% block content %}{% endblock %}
  </main>
</body>
</html>
